
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html,
body {
    height: 100svh;
    width: 100svw;
    overflow: hidden;
    font-family: system-ui, sans-serif;
}


body,
app-root {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}